.code-block { 
  background-color: black;
  color: white;
  padding: 10px 
}

.example-block { 
  height: 170px;
  width: 300px;
  margin-left: 20px;
  float: left;
}

.chart-container { 
  float: left;
}

.example-container { 
  padding: 20px;
  height: 230px;
  float: left;
}

.link { 
  text-decoration: none;
};

table {
  border-collapse: collapse;
  border: 1px solid;
  thead {
    background-color: #6f7173;
    tr td {
      color: white;
      padding: 10px;
      border-bottom: 1px solid;
      border-right: 1px solid;
    }
  }
  tbody {
    tr:nth-child(2n) {
      background-color: #f6f7f9;
    }
    td {
      padding: 10px;
      border-right: 1px solid;
      border-bottom: 1px solid;      
    }
  }
  
}